  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  .custom-image {
    background-image: url('../../public/Images/Hero.jpg');
  }
  .custom-pr1 {
    background-image: url('../../public/Images/promotion1.jpg');

  }
  .custom-pr2 {
    background-image: url('../../public/Images/promotion2.jpg');

  }